.form {
    display: flex;
    margin-bottom: 20px;
    gap: 10px; /* Расстояние между элементами */
  }
  
  .input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .cancelButton {
      background-color: #6c757d;
  }
  .cancelButton:hover {
      background-color: #5a6268;
  }