.App {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 10rem;
    color: cyan;
}

.red {
    color: red;
}

body {
    background-color: black;
}

button {
    /* gap: 2rem; */
    border-radius: 5%;
    width: 7rem;
    height: 2.5rem;
    font-size: 1.25rem;
    background-color: cyan;
    color: black;
}