.app {
    margin-left: 32rem;
}
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: sans-serif;
  }
  
  form {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #343dbe;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #343dbe;
  }
  
  p {
    color: #555;
    font-size: 0.9rem;
    margin: 0;
  }
  
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }